   /* RESET CSS */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
   *{
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'league Gothic', sans-serif;
    font-weight: normal;
    outline: none;
    border: none;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    font-size: 100%;
}
h2{
    font-size: 1.5em;
    color: #333;
}
p{
    font-size: 1em;
    color: #777;
}
