main{
    width: 100%;
    float:left;
    padding: 20px 8%;
}

main .sobre{
    width: 70%;
    float: left;
    padding: 0 20px 20px 0;
}

main .sobre h2{
    margin-bottom: 15px;
}

main .sobre img{
    width: 50%;
    float: left;
    border-radius: 5px;
    margin: 0 15px 15px 0;
}

main .sobre p{
    text-align: justify;
}
